.container
    ul.block__portfolio--list
      li.block__portfolio--item.block__portfolio--link все 
      li.block__portfolio--item.block__portfolio--link landing page
      li.block__portfolio--item.block__portfolio--link магазины
      li.block__portfolio--item.block__portfolio--link корпоротивны сайты
    ul.block__portfolioImage--list
      li.block__portfolioImage--item
        a(href="#").block__portfolioImage--link
          img(src="").block__portfolioImage--img
          .block__portfolioImage--hover
            h2.block__portfolioImage--hoverName Название проекта
      li.block__portfolioImage--item
        a(href="").block__portfolioImage--link
          img(src="").block__portfolioImage--img
      li.block__portfolioImage--item
        a(href="").block__portfolioImage--link
          img(src="").block__portfolioImage--img