extends ../main

block title
  |Обо мне
  
block content
  .container
    .col.s12.m7
      h2.header Баев Дмитрий
      .card.horizontal
        .card-image
          img(src='./img/my_foto.jpg' class="card--image-my")
        .card-stacked
          .card-content
            p Я frontend-developer и web-design
          .card-action
            a(href='#') VK
            a(href='#') GitHub
            a(href='#') Behance


     
             
    

    
      
